@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background: #ECEEF1;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    display: none;
    height: 100px;
    width: 100%;
    position: relative;
}

.navBar{
    position: absolute;
    top: 5px;
    right: 30px;
    display: flex;
    justify-content: space-between;
    width: 300px;
    font-size: 12px;
    align-items: center;
}

.navBar > button{
    width: 100px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    background: #0077C5;
    color: #fff;
}

.navBar.hidden{
    display: none;
}

header.logo{
    width: 450px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.intuit-logo{
    width: 118px;
    height: 35px;
    display: block;
    background: url('/images/intuit.png');
    background-position: 0 0;
}

a{
    color: #0077C5;
    font-weight: bold;
    text-decoration: none;
}

section{
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 100%;
    margin-top: 25px;
}

.links{
    display: flex;
    justify-content: center;
    width: 100%;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 350px;
}

li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

li:hover{
    cursor: pointer;
}

li>img{
    margin-right: 5px;
}

form{
    margin-top: 20px;
    width: 90%;
    height: 700px;
    background: #fff;
}


@media (min-width:748px){
    nav{
        display:block;
    }

    .navBar.hidden{
        display: flex;
    }
}